<!DOCTYPE html>
<html>
  <head>
    <title>About Page</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div>
      <h1>About this Page</h1>
      <p>This is our About page. It was created so that I could learn about writing views in Rails. For more advanced development, it's recommended to use React.</p>
    </div>

    <%= yield %>
  </body>
</html>
